
@{
    ViewBag.Title = "Productos";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop | E-Shopper</title>
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Assets/css/price-range.css" rel="stylesheet">
    <link href="~/Assets/css/animate.css" rel="stylesheet">
    <link href="~/Assets/css/main.css" rel="stylesheet">
    <link href="~/Assets/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Assets/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Assets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Assets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Assets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Assets/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
  


    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--category-productsr-->

                           <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("PC","Inicio")">PCs & Laptos</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Almacenamiento","Inicio")">Almacenamiento</a></h4>
                                </div>                    
</div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("UPS","Inicio")">UPS</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Teclados","Inicio")">Teclados</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Mouse","Inicio")">Mouse</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Monitores","Inicio")">Monitores</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Procesadores","Inicio")">Procesadores</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Cases","Inicio")">Cases</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("FuentesPoder","Inicio")">Fuentes de Poder</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Enfriamiento","Inicio")">Enfriamiento</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("TarjetasVideo","Inicio")">Tarjetas de Video</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("TarjetasRam","Inicio")">Tarjetas Ram</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("TarjetaMadre","Inicio")">Tarjeta Madre</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Ventiladores","Inicio")"></a>Ventiladores</h4>
                                </div>
                            </div>

                        </div><!--/category-products-->

                       

                      
                        <div class="shipping text-center">
                            <!--shipping-->
                            <img src="~/Assets/images/home/entrega.jpg" alt="" />
                        </div><!--/shipping-->
                

                    </div>
                </div>

                 <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">Features Items</h2>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/Assets/images/PRODUCTOS/RAM/ADATA XPG GAMMIX D10 8 GB DDR4 3200 - ROJO.jpg" alt="" />
                                        <h2>₡33000</h2>
                                        <p>ADATA XPG 8GB DDR4 3200</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₡33000</h2>
                                            <p>ADATA XPG GAMMIX D10 8GB DDR4 3200 ROJO</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                      <img src="~/Assets/images/PRODUCTOS/RAM/ADATA XPG SPECTRIX D50 16 GB DDR4 3600 WHITE.png" alt="" />
                                        <h2>₡75000</h2>
                                        <p>ADATA XPG 16GB DDR4 3600 </p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₡75000</h2>
                                            <p>ADATA XPG SPECTRIX D50 16 GB DDR4 3600 WHITE</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                       <img src="~/Assets/images/PRODUCTOS/RAM/G.SKILL TRIDENT Z RGB 8 GB DDR4 3200.jpg" alt="" />
                                        <h2>₡39000</h2>
                                        <p>G.SKILL 8GB DDR4 3200</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₡39000</h2>
                                            <p>G.SKILL TRIDENT Z RGB 8 GB DDR4 3200</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                       <img src="~/Assets/images/PRODUCTOS/RAM/G.SKILL RIPJAWS V 8 GB DDR4 2400 - ROJO.jpg" alt="" />
                                        <h2>₡25000</h2>
                                        <p>G.SKILL 8GB DDR4 2400</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₡25000</h2>
                                            <p>G.SKILL RIPJAWS V 8 GB DDR4 2400 - ROJO</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                        </div>
                                    </div>
                                    <img src="~/Assets/images/home/new.png" class="new" alt="" />
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/Assets/images/PRODUCTOS/RAM/G.SKILL TRIDENT Z ROYAL 16 GB (2 X 8) GB DDR4 4000 SILVER.jpg" alt="" />
                                        <h2>₡129000</h2>
                                        <p>G.SKILL 16GB DDR4 4000</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₡129000</h2>
                                            <p>G.SKILL TRIDENT Z ROYAL 16 GB (2 X 8) GB DDR4 4000 SILVER</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                        </div>
                                    </div>
                                    <img src="~/Assets/images/home/sale.png" class="new" alt="" />
                                </div>
                             
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                       <img src="~/Assets/images/PRODUCTOS/RAM/G.SKILL TRIDENT Z RGB 8 GB DDR4 4000.jpg" alt="" />
                                        <h2>₡52000</h2>
                                        <p>G.SKILL 8GB DDR4 4000</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₡52000</h2>
                                            <p>G.SKILL TRIDENT Z RGB 8 GB DDR4 4000</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                         <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                       <img src="~/Assets/images/PRODUCTOS/RAM/TEAMGROUP T-FORCE DELTA RGB 8 GB DDR4 3200 BLANCO.jpg" alt="" />
                                        <h2>₡38000</h2>
                                        <p>TEAMGROUP 8GB DDR4 3200</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₡38000</h2>
                                            <p>TEAMGROUP T-FORCE DELTA RGB 8 GB DDR4 3200 BLANCO</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                         <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                       <img src="~/Assets/images/PRODUCTOS/RAM/TEAMGROUP T-FORCE DELTA RGB 16 GB DDR4 3200.jpg" alt="" />
                                        <h2>₡64000</h2>
                                        <p>TEAMGROUP 16GB DDR4 3200</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₡64000</h2>
                                            <p>TEAMGROUP T-FORCE DELTA RGB 16 GB DDR4 3200</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                         
                         

                    </div><!--features_items-->
                </div>
            </div>
        </div>
    </section>



    <script src="~/Assets/js/jquery.js"></script>
    <script src="~/Assets/js/price-range.js"></script>
    <script src="~/Assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.prettyPhoto.js"></script>
    <script src="~/Assets/js/main.js"></script>
</body>
</html>
