
@{
    ViewBag.Title = "Productos";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop | E-Shopper</title>
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Assets/css/price-range.css" rel="stylesheet">
    <link href="~/Assets/css/animate.css" rel="stylesheet">
    <link href="~/Assets/css/main.css" rel="stylesheet">
    <link href="~/Assets/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Assets/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Assets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Assets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Assets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Assets/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
  
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--category-productsr-->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("PC","Inicio")">PCs & Laptos</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Almacenamiento","Inicio")">Almacenamiento</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("UPS","Inicio")">UPS</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Teclados","Inicio")">Teclados</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Mouse","Inicio")">Mouse</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Monitores","Inicio")">Monitores</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Procesadores","Inicio")">Procesadores</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Cases","Inicio")">Cases</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("FuentesPoder","Inicio")">Fuentes de Poder</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Enfriamiento","Inicio")">Enfriamiento</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("TarjetasVideo","Inicio")">Tarjetas de Video</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("TarjetasRam","Inicio")">Tarjetas Ram</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("TarjetaMadre","Inicio")">Tarjeta Madre</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="@Url.Action("Ventiladores","Inicio")"></a>Ventiladores</h4>
                                </div>
                            </div>

                        </div><!--/category-products-->

                       

                      
                        <div class="shipping text-center">
                            <!--shipping-->
                            <img src="~/Assets/images/home/entrega.jpg" alt="" />
                        </div><!--/shipping-->
                

                    </div>
                </div>

                 <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">Features Items</h2>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/Assets/images/PRODUCTOS/UPS/UPS APC BX1500M 1500VA.jpg" alt="" />
                                        <h2>₡137000</h2>
                                        <p>UPS APC BX1500M 1500VA</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₡137000</h2>
                                            <p>UPS APC BX1500M 1500VA</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                      <img src="~/Assets/images/PRODUCTOS/UPS/UPS APC BR1500M 1500VA.jpg" alt="" />
                                        <h2>₡153000</h2>
                                        <p>UPS APC BR1500M 1500VA</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₡153000</h2>
                                            <p>UPS APC BR1500M 1500VA</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                       <img src="~/Assets/images/PRODUCTOS/UPS/UPS APC PRO BR1100M2 1100VA.jpg" alt="" />
                                        <h2>₡115000</h2>
                                        <p>UPS APC PRO BR1100M2 1100VA</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₡115000</h2>
                                            <p>UPS APC PRO BR1100M2 1100VA</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                       <img src="~/Assets/images/PRODUCTOS/UPS/UPS CDP 1000VA - R-UPR 1008.jpg" alt="" />
                                        <h2>₡333000</h2>
                                        <p>UPS CDP 1000VA - R-UPR 1008</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₡333000</h2>
                                            <p>UPS CDP 1000VA - R-UPR 1008</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                        </div>
                                    </div>
                                    <img src="~/Assets/images/home/new.png" class="new" alt="" />
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/Assets/images/PRODUCTOS/UPS/UPS CYBERPOWER CP1000 AVRLCD.png" alt="" />
                                        <h2>₡99000</h2>
                                        <p>UPS CYBERPOWER CP1000 AVRLCD</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₡99000</h2>
                                            <p>UPS CYBERPOWER CP1000 AVRLCD</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</a>
                                        </div>
                                    </div>
                                    <img src="~/Assets/images/home/sale.png" class="new" alt="" />
                                </div>
                             
                            </div>
                        </div>
                       
                    </div><!--features_items-->
                </div>
            </div>
        </div>
    </section>



    <script src="~/Assets/js/jquery.js"></script>
    <script src="~/Assets/js/price-range.js"></script>
    <script src="~/Assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.prettyPhoto.js"></script>
    <script src="~/Assets/js/main.js"></script>
</body>
</html>
